@import '../../../mixin';

.main-container{
  height: 80%;
  // width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.answer-type{
  margin: 20px;
}

.question{
  margin-bottom: 20px;
}

.textphrase{
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  outline: none;
  padding: 0;
  border: 1px solid black;
  // border-bottom: 1px solid black;
  resize: none;
}

input{
  height: fit-content;
  width: fit-content;
}



label {
margin-right: 15px;
}

input[type="radio"] {
margin-right: 5px;
}