<!-- <input type="text"  > -->
<div class = "main-container">
<div class = "question">
Question (Stem)*
<textarea rows="5" [(ngModel)]="inputValue" class = "text"></textarea>
<!-- <button (click)="saveData()">Save</button> -->
</div>

<div class = "textphrase">
<app-textphrase (textChange)="handleTextChange($event)"></app-textphrase>
</div>

Set Answer Type
<div class = "answer-type">
    <label>
      <input type="radio" name="option" value="word" [(ngModel)]="selectedOption"> Word
    </label>
    <label>
      <input type="radio" name="option" value="sentence" [(ngModel)]="selectedOption"> Sentence
    </label>
    <label>
      <input type="radio" name="option" value="paragraph" [(ngModel)]="selectedOption"> Paragraph
    </label>
    <label>
      <input type="radio" name="option" value="custom" [(ngModel)]="selectedOption"> Custom
    </label>
  </div>
  
  <!-- Divs corresponding to each radio button option -->
  Set Selections*
  <div *ngIf="selectedOption === 'word'">
  <app-word-highlighter [message]="receivedText" (savedRangesChange)="handleSavedRangesChange($event)"> </app-word-highlighter>
  </div>
  
  <div *ngIf="selectedOption === 'sentence'">
    <app-sentence-hightlighter [message] = "receivedText"></app-sentence-hightlighter>
  </div>
  
  <div *ngIf="selectedOption === 'paragraph'">
    <app-para-highlighter [message] = "receivedText" ></app-para-highlighter>
  </div>
  
  <div *ngIf="selectedOption === 'custom'">
    <p>This is the Custom div, visible when 'Custom' is selected.</p>
  </div>

  Set Correct Answer*
  <app-correctanswer [message] = "receivedText" [ranges]="savedRanges"></app-correctanswer>
  
</div>
