<!-- <input type="text"  > -->
<textarea  [(ngModel)]="inputValue" (input)="saveData()" class = "text"></textarea>
<!-- <button (click)="saveData()">Save</button> -->
<textarea [(ngModel)]="inputValue" (input)="saveData()" class = "text"></textarea>


<div>
    <label>
      <input type="radio" name="option" value="word" [(ngModel)]="selectedOption"> Word
    </label>
    <label>
      <input type="radio" name="option" value="sentence" [(ngModel)]="selectedOption"> Sentence
    </label>
    <label>
      <input type="radio" name="option" value="paragraph" [(ngModel)]="selectedOption"> Paragraph
    </label>
    <label>
      <input type="radio" name="option" value="custom" [(ngModel)]="selectedOption"> Custom
    </label>
  </div>
  
  <!-- Divs corresponding to each radio button option -->
  <div *ngIf="selectedOption === 'word'">
  <app-word-highlighter [message]="inputValue"> </app-word-highlighter>
  </div>
  
  <div *ngIf="selectedOption === 'sentence'">
    <app-sentence-hightlighter [message] = "inputValue"></app-sentence-hightlighter>
  </div>
  
  <div *ngIf="selectedOption === 'paragraph'">
    <p>This is the Paragraph div, visible when 'Paragraph' is selected.</p>
  </div>
  
  <div *ngIf="selectedOption === 'custom'">
    <p>This is the Custom div, visible when 'Custom' is selected.</p>
  </div>
