@import '../../../mixin';



.user-select-none {
  user-select: none; /* Prevent default text selection */
}

.word-span.selected {
  background-color: yellow; /* Custom highlight for selected words */
}

.space-span.highlight-space {
  background-color: yellow; /* Highlight space between selected words */
}
.space-span {
    background-color: white; /* Default for space */
  }
  



div {
padding: 10px;
border: 1px solid #ccc;
margin-top: 10px;
}

