html,
body {
  display: flex;
  flex-direction: column;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #EEEEEE;
}
html .dFlex,
body .dFlex {
  display: flex;
}
html > .header,
body > .header {
  display: flex;
  align-items: center;
  padding: 0px 2%;
  justify-content: space-between;
  background-color: #222222;
  height: 10vh;
  border-bottom: 2px solid #31B9E4;
}
html > .header > .icon,
body > .header > .icon {
  display: flex;
  height: 40px;
}
html > .header > ul,
body > .header > ul {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
html > .header > ul > li,
body > .header > ul > li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
html > .header > ul > li:active,
body > .header > ul > li:active {
  border-bottom: 5px solid white;
}
html > .header > ul > li > a,
body > .header > ul > li > a {
  color: #3FD28B;
  text-decoration: none;
  padding: 8px 8px;
  font-weight: bold;
}
html > .header > ul > li:hover a,
body > .header > ul > li:hover a {
  color: white;
}
html > .header > ul > .links,
body > .header > ul > .links {
  padding: 0px 10px;
  position: relative;
  display: flex;
  align-items: center;
}
html > .header > ul > .links img,
body > .header > ul > .links img {
  height: 30px;
}
html > .header > ul > .links > .img,
body > .header > ul > .links > .img {
  position: relative;
}
html > .header > ul > .links > .img > span,
body > .header > ul > .links > .img > span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2A7FF3;
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  text-align: center;
}
html > .header > ul > .links > .announcements,
html > .header > ul > .links .alertDetails,
body > .header > ul > .links > .announcements,
body > .header > ul > .links .alertDetails {
  background-color: white;
  position: absolute;
  top: 10vh;
  right: 0px;
  width: 320px;
  max-height: 550px;
  overflow-y: auto;
  z-index: 5;
  box-shadow: 10px 10px 8px #dadada;
}
> html > .header > ul > .links > .announcements::-webkit-scrollbar,
> html > .header > ul > .links .alertDetails::-webkit-scrollbar,
> body > .header > ul > .links > .announcements::-webkit-scrollbar,
> body > .header > ul > .links .alertDetails::-webkit-scrollbar {
  width: 5px;
}
> html > .header > ul > .links > .announcements::-webkit-scrollbar-track,
> html > .header > ul > .links .alertDetails::-webkit-scrollbar-track,
> body > .header > ul > .links > .announcements::-webkit-scrollbar-track,
> body > .header > ul > .links .alertDetails::-webkit-scrollbar-track {
  background: #f1f1f1;
}
> html > .header > ul > .links > .announcements::-webkit-scrollbar-thumb,
> html > .header > ul > .links .alertDetails::-webkit-scrollbar-thumb,
> body > .header > ul > .links > .announcements::-webkit-scrollbar-thumb,
> body > .header > ul > .links .alertDetails::-webkit-scrollbar-thumb {
  background: #888;
}
> html > .header > ul > .links > .announcements::-webkit-scrollbar-thumb:hover,
> html > .header > ul > .links .alertDetails::-webkit-scrollbar-thumb:hover,
> body > .header > ul > .links > .announcements::-webkit-scrollbar-thumb:hover,
> body > .header > ul > .links .alertDetails::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html > .header > ul > .links > .announcements .individualAnnouncements,
html > .header > ul > .links > .announcements .individualAlert,
html > .header > ul > .links .alertDetails .individualAnnouncements,
html > .header > ul > .links .alertDetails .individualAlert,
body > .header > ul > .links > .announcements .individualAnnouncements,
body > .header > ul > .links > .announcements .individualAlert,
body > .header > ul > .links .alertDetails .individualAnnouncements,
body > .header > ul > .links .alertDetails .individualAlert {
  padding: 10px;
  border-bottom: 1px solid grey;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html > .header > ul > .links > .announcements .individualAnnouncements > p,
html > .header > ul > .links > .announcements .individualAlert > p,
html > .header > ul > .links .alertDetails .individualAnnouncements > p,
html > .header > ul > .links .alertDetails .individualAlert > p,
body > .header > ul > .links > .announcements .individualAnnouncements > p,
body > .header > ul > .links > .announcements .individualAlert > p,
body > .header > ul > .links .alertDetails .individualAnnouncements > p,
body > .header > ul > .links .alertDetails .individualAlert > p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: 5px 0px;
}
html > .header > ul > .links > .announcements .individualAnnouncements > .author,
html > .header > ul > .links > .announcements .individualAnnouncements .information,
html > .header > ul > .links > .announcements .individualAlert > .author,
html > .header > ul > .links > .announcements .individualAlert .information,
html > .header > ul > .links .alertDetails .individualAnnouncements > .author,
html > .header > ul > .links .alertDetails .individualAnnouncements .information,
html > .header > ul > .links .alertDetails .individualAlert > .author,
html > .header > ul > .links .alertDetails .individualAlert .information,
body > .header > ul > .links > .announcements .individualAnnouncements > .author,
body > .header > ul > .links > .announcements .individualAnnouncements .information,
body > .header > ul > .links > .announcements .individualAlert > .author,
body > .header > ul > .links > .announcements .individualAlert .information,
body > .header > ul > .links .alertDetails .individualAnnouncements > .author,
body > .header > ul > .links .alertDetails .individualAnnouncements .information,
body > .header > ul > .links .alertDetails .individualAlert > .author,
body > .header > ul > .links .alertDetails .individualAlert .information {
  font-size: 14px;
}
html > .header > ul > .links > .announcements .individualAnnouncements > .title,
html > .header > ul > .links > .announcements .individualAlert > .title,
html > .header > ul > .links .alertDetails .individualAnnouncements > .title,
html > .header > ul > .links .alertDetails .individualAlert > .title,
body > .header > ul > .links > .announcements .individualAnnouncements > .title,
body > .header > ul > .links > .announcements .individualAlert > .title,
body > .header > ul > .links .alertDetails .individualAnnouncements > .title,
body > .header > ul > .links .alertDetails .individualAlert > .title {
  font-size: 16px;
  font-weight: bold;
}
html > .header > ul > .links > .announcements .individualAnnouncements .more,
html > .header > ul > .links > .announcements .individualAlert .more,
html > .header > ul > .links .alertDetails .individualAnnouncements .more,
html > .header > ul > .links .alertDetails .individualAlert .more,
body > .header > ul > .links > .announcements .individualAnnouncements .more,
body > .header > ul > .links > .announcements .individualAlert .more,
body > .header > ul > .links .alertDetails .individualAnnouncements .more,
body > .header > ul > .links .alertDetails .individualAlert .more {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
html > .header > ul > .links > .announcements .ticked,
html > .header > ul > .links .alertDetails .ticked,
body > .header > ul > .links > .announcements .ticked,
body > .header > ul > .links .alertDetails .ticked {
  background-color: #FFFFEE;
}
html > .header > ul > .links > .announcements .buttons,
html > .header > ul > .links .alertDetails .buttons,
body > .header > ul > .links > .announcements .buttons,
body > .header > ul > .links .alertDetails .buttons {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  height: 50px;
}
html > .header > ul > .links > .announcements .buttons > button,
html > .header > ul > .links .alertDetails .buttons > button,
body > .header > ul > .links > .announcements .buttons > button,
body > .header > ul > .links .alertDetails .buttons > button {
  border: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #dadada;
  width: 50%;
  height: 100%;
  background-color: white;
  color: #2b9c6d;
}
html > .header > ul > .links > .alertDetails .buttons > button,
body > .header > ul > .links > .alertDetails .buttons > button {
  width: 100%;
}
html > .header > ul > .profile > .img > span,
body > .header > ul > .profile > .img > span {
  top: -20%;
  right: -20%;
  background-color: white;
  color: black;
  font-weight: bold;
}
html > .header > ul > .profile > .img > img,
body > .header > ul > .profile > .img > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #3FD28B;
}
html > .header > ul > .onlyPhone,
body > .header > ul > .onlyPhone {
  display: none;
  margin: auto 0px;
}
html > .header > .horizontalNav,
body > .header > .horizontalNav {
  display: none;
}
html > .container,
body > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  /* border: 2px solid red; */
  box-sizing: border-box;
  padding: 24px;
  box-sizing: border-box;
}
html > .container > .mid-table,
body > .container > .mid-table {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  /* border: 2px solid navajowhite; */
}
html > .container > .mid-table > .content-1,
body > .container > .mid-table > .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8DDC97;
  text-align: center;
  width: 100%;
  min-height: 75px;
  max-height: 5vh;
  box-sizing: border-box;
}
html > .container > .mid-table > .content-1 > a,
body > .container > .mid-table > .content-1 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  height: 100%;
}
html > .container > .mid-table > .content-1 > a:hover,
body > .container > .mid-table > .content-1 > a:hover {
  border-bottom: 4px solid black;
  width: 100%;
  justify-self: center;
}
html > .container > .mid-table > .content-2,
body > .container > .mid-table > .content-2 {
  grid-column: span 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  min-height: 75px;
  max-height: 5vh;
}
html > .container > .mid-table > .content-2 > .content-2-interior,
body > .container > .mid-table > .content-2 > .content-2-interior {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 80%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table > .content-2 > .content-2-interior > .select1,
body > .container > .mid-table > .content-2 > .content-2-interior > .select1 {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  position: relative;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table > .content-2 > .content-2-interior > .select1 > .custom-select,
body > .container > .mid-table > .content-2 > .content-2-interior > .select1 > .custom-select {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Remove the default arrow */
  /* border: 1px solid #ccc; */
  background-image: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table > .content-2 > .content-2-interior > .select1 > select,
body > .container > .mid-table > .content-2 > .content-2-interior > .select1 > select {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  width: 40%;
  font-size: larger;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table > .content-2 > .content-2-interior > .select1::after,
body > .container > .mid-table > .content-2 > .content-2-interior > .select1::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  transform: translateY(-50%);
  pointer-events: none;
}
html > .container > .mid-table .content-3,
body > .container > .mid-table .content-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
  grid-auto-rows: 250px;
  width: 100%;
  min-height: auto;
  padding-top: 10px;
  grid-column: span 2;
  justify-self: center;
  gap: 20px;
  /* border: 2px solid violet */
}
html > .container > .mid-table .content-3 > .expired, html > .container > .mid-table .content-3 .empty,
body > .container > .mid-table .content-3 > .expired,
body > .container > .mid-table .content-3 .empty {
  background-color: #FFFFFF;
  margin: 0px;
  position: relative;
}
html > .container > .mid-table .content-3 > .expired > span, html > .container > .mid-table .content-3 .empty > span,
body > .container > .mid-table .content-3 > .expired > span,
body > .container > .mid-table .content-3 .empty > span {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: #FFE4E6;
  color: #D80000;
  padding: 0px 2%;
  font-weight: bold;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table .content-3 > .expired > .card, html > .container > .mid-table .content-3 .empty > .card,
body > .container > .mid-table .content-3 > .expired > .card,
body > .container > .mid-table .content-3 .empty > .card {
  margin: 24px 0px 24px 0px;
  background-color: #FFFFFF;
  position: relative;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton, html > .container > .mid-table .content-3 .empty > .card > .descripton,
body > .container > .mid-table .content-3 > .expired > .card > .descripton,
body > .container > .mid-table .content-3 .empty > .card > .descripton {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #000000;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .img-div > img, html > .container > .mid-table .content-3 .empty > .card > .descripton > .img-div > img,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .img-div > img,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .img-div > img {
  /* margin-left: 24px; */
  /* margin-top: 24px; */
  margin-right: 16px;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info {
  width: 100%;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .card-head, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .card-head,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .card-head,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .card-head {
  display: flex;
  justify-content: space-between;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .subject, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .subject,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .subject,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .subject {
  font-size: 12px;
  color: #666666;
  margin-bottom: 5px;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .subject > .extra-class, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .subject > .extra-class,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .subject > .extra-class,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .subject > .extra-class {
  color: #1F7A54;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .subject > .number, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .subject > .number,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .subject > .number,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .subject > .number {
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  margin-right: 2px;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior {
  display: flex;
  position: relative;
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2 > select, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2 > select,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2 > select,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2 > select {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  font-size: larger;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2 > .custom-select1, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2 > .custom-select1,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2 > .custom-select1,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2 > .custom-select1 {
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Remove the default arrow */
  /* border: 1px solid #ccc; */
  background-color: #fff;
  background-image: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2::after, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2::after,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .content-3-interior > .select2::after,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .content-3-interior > .select2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  transform: translateY(-50%);
  pointer-events: none;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .class-info, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .class-info,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .class-info,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .class-info {
  color: #666666;
  font-size: 12px;
}
html > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .mynone, html > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .mynone,
body > .container > .mid-table .content-3 > .expired > .card > .descripton > .info > .mynone,
body > .container > .mid-table .content-3 .empty > .card > .descripton > .info > .mynone {
  display: none;
}
html > .container > .mid-table .content-3 > .expired > .card > .card-buttom, html > .container > .mid-table .content-3 .empty > .card > .card-buttom,
body > .container > .mid-table .content-3 > .expired > .card > .card-buttom,
body > .container > .mid-table .content-3 .empty > .card > .card-buttom {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
html > .container > .mid-table .content-3 > .expired > .card > .card-buttom > .no-classes, html > .container > .mid-table .content-3 .empty > .card > .card-buttom > .no-classes,
body > .container > .mid-table .content-3 > .expired > .card > .card-buttom > .no-classes,
body > .container > .mid-table .content-3 .empty > .card > .card-buttom > .no-classes {
  opacity: 0.4;
}
html > .footer,
body > .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html > .footer > .contact,
body > .footer > .contact {
  color: #1F7A54;
  padding: 10px;
}
html > .footer > .copyright,
body > .footer > .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E1E1;
  width: 100%;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .content-3 {
    grid-template-columns: 1fr 1fr;
  }

  html > .container > .mid-table, body > .container > .mid-table {
    grid-auto-rows: auto;
  }
}
@media only screen and (max-width: 768px) and (min-width: 397px) {
  body > .container > .mid-table > .content-3 {
    grid-template-columns: 1fr;
    display: grid;
    width: 100%;
    min-height: auto;
    padding-top: 10px;
    grid-column: span 2;
    justify-self: center;
    gap: 20px;
  }

  html > .container > .mid-table, body > .container > .mid-table {
    grid-auto-rows: auto;
  }

  body > .header > .navbar > .nav-list > li > a.pcview {
    display: none;
  }

  body > .header > .navbar > .nav-list > li.phoneview {
    display: inline;
    color: #3FD28B;
    align-self: center;
    justify-self: center;
  }

  body > .header > .navbar > .horizontalNav {
    background-color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 280px;
    flex-direction: column;
    display: none;
    position: absolute;
    right: 3%;
    z-index: 5;
    box-shadow: 10px 10px 8px #dadada;
  }
  body > .header > .navbar > .horizontalNav > li {
    padding: 12px 12px;
    list-style-type: none;
    color: #3FD28B;
    font-weight: bold;
  }
  body > .header > .navbar > .horizontalNav > li > div {
    display: none;
    margin-top: 15px;
    padding: 12px 12px;
    color: #2b9c6d;
    font-weight: bold;
  }
  body > .header > .navbar > .horizontalNav > li:hover {
    background-color: #F3F3F3;
  }
  body > .header > .navbar > .horizontalNav > li:hover div {
    display: block;
  }
}
@media only screen and (max-width: 397px) {
  .content-3 {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 250px;
  }
}/*# sourceMappingURL=dashboard.css.map */