.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  
    .row {
      display: flex;
      flex: 1;
  
      .cell {
        flex: 1;
        border: 1px solid black;
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          right: -5px;
          bottom: -5px;
          width: 10px;
          height: 10px;
          background: #000;
          opacity: 0.2;
          cursor: nwse-resize;
        }
      }
    }
  }